﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trafficker Manager</h1>
    <p class="lead">Find all your customers AND their cars.</p>
</div>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("ViewCustomer", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Lookup Customer</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <label class="col-md-2 control-label">Id</label>
                <div class="col-md-10">
                    @Html.TextBox("customerId", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Submit" />
                </div>
            </div>
        }
    </div>
</div>