﻿@using System.Activities.Expressions
@model Core.CustomerProjection

@{
    ViewBag.Title = "ViewCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Customer</h2>

<div>
    <h4>Customer and Order Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        @foreach (var order in Model.Orders)
        {
            <dt>
                Order# @order.Id
            </dt>
            <dd>
                @order.Color @order.Year @order.Make @order.Model (@order.Terms)
            </dd>
        }
    </dl>

</div>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
